
EggTimer.xcodeproj/project.xcworkspace/xcuserdata/dmjanis.xcuserdatad/UserInterfaceState.xcuserstate
EggTimer.xcodeproj/project.xcworkspace/xcuserdata/dmjanis.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
